<h1>Today</h1>

<%# strftime %A is the full week name, %B is the full month name, %d is the day of the month, %Y is the Year %>
<p>The date is <%= Date.today.strftime("%A, %B %d, %Y")%>.</p>
<p><%=Date.today%></p>

